upstream websocket {
    server 172.16.100.100:8080;
}

server {
    listen 80 default_server;
    server_name $NGINX_HOST;

    location / {
        proxy_pass http://websocket;
    }
}


#server {
#    listen 443 ssl;
#    server_name $NGINX_HOST;
#
#    ssl_certificate            /etc/nginx/conf.d/ssl/ca.cer;
#    ssl_certificate_key        /etc/nginx/conf.d/ssl/ca.key;
#
#    location / {
#        proxy_pass http://websocket;
#    }
#}

